<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flight.china.dao.TbGoodsMapper">
  <resultMap id="BaseResultMap" type="com.flight.china.bean.TbGoods">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="goods_name_chinese" jdbcType="VARCHAR" property="goodsNameChinese" />
    <result column="goods_name_korean" jdbcType="VARCHAR" property="goodsNameKorean" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="goods_label" jdbcType="VARCHAR" property="goodsLabel" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="goods_status" jdbcType="VARCHAR" property="goodsStatus" />
    <result column="supplier_name" jdbcType="VARCHAR" property="supplierName" />
    <result column="product_ownership" jdbcType="VARCHAR" property="productOwnership" />
    <result column="purchase_price" jdbcType="DECIMAL" property="purchasePrice" />
    <result column="logistics_cost" jdbcType="DECIMAL" property="logisticsCost" />
    <result column="wholesale_price" jdbcType="DECIMAL" property="wholesalePrice" />
    <result column="image_adress" jdbcType="VARCHAR" property="imageAdress" />
    <result column="goods_link" jdbcType="VARCHAR" property="goodsLink" />
    <result column="image_link" jdbcType="VARCHAR" property="imageLink" />
    <result column="abroad_shopping" jdbcType="VARCHAR" property="abroadShopping" />
  </resultMap>
  <sql id="Example_Where_Clause">
  	where 1 = 1
  	  <if test="id != null">
      and  id = #{id,jdbcType=INTEGER}
      </if>
      <if test="goodsNameChinese != null">
      and  goods_name_chinese = #{goodsNameChinese,jdbcType=VARCHAR}
      </if>
      <if test="goodsNameKorean != null">
      and  goods_name_korean = #{goodsNameKorean,jdbcType=VARCHAR}
      </if>
      <if test="goodsCode != null">
      and  goods_code = #{goodsCode,jdbcType=VARCHAR}
      </if>
      <if test="goodsLabel != null">
      and  goods_label = #{goodsLabel,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
      and  create_time = #{createTime,jdbcType=DATE}
      </if>
      <if test="updateTime != null">
      and  update_time = #{updateTime,jdbcType=DATE}
      </if>
      <if test="goodsStatus != null">
      and  goods_status = #{goodsStatus,jdbcType=VARCHAR}
      </if>
      <if test="supplierName != null">
      and  supplier_name = #{supplierName,jdbcType=VARCHAR}
      </if>
      <if test="productOwnership != null">
      and  product_ownership = #{productOwnership,jdbcType=VARCHAR}
      </if>
      <if test="purchasePrice != null">
      and  purchase_price = #{purchasePrice,jdbcType=DECIMAL}
      </if>
      <if test="logisticsCost != null">
      and  logistics_cost = #{logisticsCost,jdbcType=DECIMAL}
      </if>
      <if test="wholesalePrice != null">
      and  wholesale_price = #{wholesalePrice,jdbcType=DECIMAL}
      </if>
      <if test="imageAdress != null">
      and  image_adress = #{imageAdress,jdbcType=VARCHAR}
      </if>
      <if test="goodsLink != null">
      and  goods_link = #{goodsLink,jdbcType=VARCHAR}
      </if>
      <if test="imageLink != null">
      and  image_link = #{imageLink,jdbcType=VARCHAR}
      </if>
      <if test="abroadShopping != null">
      and  abroad_shopping = #{abroadShopping,jdbcType=VARCHAR}
      </if>
  </sql>
  
  <sql id="Base_Column_List">
    id, goods_name_chinese, goods_name_korean, goods_code, goods_label, create_time, 
    update_time, goods_status, supplier_name, product_ownership, purchase_price, logistics_cost, 
    wholesale_price, image_adress, goods_link, image_link, abroad_shopping
  </sql>
  
  <select id="selectByExample" parameterType="com.flight.china.bean.TbGoodsExample" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_goods
   <include refid="Example_Where_Clause" />
    order by create_time DESC
  </select>
  
  <select id="getAllGoods" parameterType="com.flight.china.bean.TbGoodsExample" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from tb_goods
   <include refid="Example_Where_Clause" />
    order by create_time DESC
    <if test="startWith != null and rows != null">
       <include refid="Common.pagingEnd"/>  
    </if>
  </select>
  
  <delete id="deleteByExample" parameterType="com.flight.china.bean.TbGoodsExample">
    delete from tb_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  
  <insert id="insert" parameterType="com.flight.china.bean.TbGoods">
    insert into tb_goods (id, goods_name_chinese, goods_name_korean, 
      goods_code, goods_label, create_time, 
      update_time, goods_status, supplier_name, 
      product_ownership, purchase_price, logistics_cost, 
      wholesale_price, image_adress, goods_link, 
      image_link, abroad_shopping)
    values (#{id,jdbcType=INTEGER}, #{goodsNameChinese,jdbcType=VARCHAR}, #{goodsNameKorean,jdbcType=VARCHAR}, 
      #{goodsCode,jdbcType=VARCHAR}, #{goodsLabel,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{updateTime,jdbcType=DATE}, #{goodsStatus,jdbcType=VARCHAR}, #{supplierName,jdbcType=VARCHAR}, 
      #{productOwnership,jdbcType=VARCHAR}, #{purchasePrice,jdbcType=DECIMAL}, #{logisticsCost,jdbcType=DECIMAL}, 
      #{wholesalePrice,jdbcType=DECIMAL}, #{imageAdress,jdbcType=VARCHAR}, #{goodsLink,jdbcType=VARCHAR}, 
      #{imageLink,jdbcType=VARCHAR}, #{abroadShopping,jdbcType=VARCHAR})
  </insert>
  
  <insert id="insertSelective" parameterType="com.flight.china.bean.TbGoods">
    insert into tb_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsNameChinese != null">
        goods_name_chinese,
      </if>
      <if test="goodsNameKorean != null">
        goods_name_korean,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="goodsLabel != null">
        goods_label,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
      <if test="supplierName != null">
        supplier_name,
      </if>
      <if test="productOwnership != null">
        product_ownership,
      </if>
      <if test="purchasePrice != null">
        purchase_price,
      </if>
      <if test="logisticsCost != null">
        logistics_cost,
      </if>
      <if test="wholesalePrice != null">
        wholesale_price,
      </if>
      <if test="imageAdress != null">
        image_adress,
      </if>
      <if test="goodsLink != null">
        goods_link,
      </if>
      <if test="imageLink != null">
        image_link,
      </if>
      <if test="abroadShopping != null">
        abroad_shopping,
      </if>
    </trim>
    
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsNameChinese != null">
        #{goodsNameChinese,jdbcType=VARCHAR},
      </if>
      <if test="goodsNameKorean != null">
        #{goodsNameKorean,jdbcType=VARCHAR},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="goodsLabel != null">
        #{goodsLabel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=DATE},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="supplierName != null">
        #{supplierName,jdbcType=VARCHAR},
      </if>
      <if test="productOwnership != null">
        #{productOwnership,jdbcType=VARCHAR},
      </if>
      <if test="purchasePrice != null">
        #{purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="logisticsCost != null">
        #{logisticsCost,jdbcType=DECIMAL},
      </if>
      <if test="wholesalePrice != null">
        #{wholesalePrice,jdbcType=DECIMAL},
      </if>
      <if test="imageAdress != null">
        #{imageAdress,jdbcType=VARCHAR},
      </if>
      <if test="goodsLink != null">
        #{goodsLink,jdbcType=VARCHAR},
      </if>
      <if test="imageLink != null">
        #{imageLink,jdbcType=VARCHAR},
      </if>
      <if test="abroadShopping != null">
        #{abroadShopping,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  
  <select id="countByExample" parameterType="com.flight.china.bean.TbGoodsExample" resultType="java.lang.Long">
    select count(*) from tb_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  
  <update id="updateByExampleSelective" parameterType="map">
    update tb_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.goodsNameChinese != null">
        goods_name_chinese = #{record.goodsNameChinese,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsNameKorean != null">
        goods_name_korean = #{record.goodsNameKorean,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCode != null">
        goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsLabel != null">
        goods_label = #{record.goodsLabel,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=DATE},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=DATE},
      </if>
      <if test="record.goodsStatus != null">
        goods_status = #{record.goodsStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.supplierName != null">
        supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      </if>
      <if test="record.productOwnership != null">
        product_ownership = #{record.productOwnership,jdbcType=VARCHAR},
      </if>
      <if test="record.purchasePrice != null">
        purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.logisticsCost != null">
        logistics_cost = #{record.logisticsCost,jdbcType=DECIMAL},
      </if>
      <if test="record.wholesalePrice != null">
        wholesale_price = #{record.wholesalePrice,jdbcType=DECIMAL},
      </if>
      <if test="record.imageAdress != null">
        image_adress = #{record.imageAdress,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsLink != null">
        goods_link = #{record.goodsLink,jdbcType=VARCHAR},
      </if>
      <if test="record.imageLink != null">
        image_link = #{record.imageLink,jdbcType=VARCHAR},
      </if>
      <if test="record.abroadShopping != null">
        abroad_shopping = #{record.abroadShopping,jdbcType=VARCHAR},
      </if>
    </set>
  </update>
  
  <update id="updateByExample" parameterType="map">
    update tb_goods
    set id = #{record.id,jdbcType=INTEGER},
      goods_name_chinese = #{record.goodsNameChinese,jdbcType=VARCHAR},
      goods_name_korean = #{record.goodsNameKorean,jdbcType=VARCHAR},
      goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      goods_label = #{record.goodsLabel,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=DATE},
      update_time = #{record.updateTime,jdbcType=DATE},
      goods_status = #{record.goodsStatus,jdbcType=VARCHAR},
      supplier_name = #{record.supplierName,jdbcType=VARCHAR},
      product_ownership = #{record.productOwnership,jdbcType=VARCHAR},
      purchase_price = #{record.purchasePrice,jdbcType=DECIMAL},
      logistics_cost = #{record.logisticsCost,jdbcType=DECIMAL},
      wholesale_price = #{record.wholesalePrice,jdbcType=DECIMAL},
      image_adress = #{record.imageAdress,jdbcType=VARCHAR},
      goods_link = #{record.goodsLink,jdbcType=VARCHAR},
      image_link = #{record.imageLink,jdbcType=VARCHAR},
      abroad_shopping = #{record.abroadShopping,jdbcType=VARCHAR}
  </update>
</mapper>