<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flight.china.dao.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.flight.china.bean.TbUser">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="user_phone" jdbcType="INTEGER" property="userPhone" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_adress" jdbcType="VARCHAR" property="userAdress" />
    <result column="user_sex" jdbcType="INTEGER" property="userSex" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  
  <sql id="Example_Where_Clause">
  	where 1 = 1
  	  <if test="id != null">
      and  id = #{id,jdbcType=INTEGER}
      </if>
      <if test="userName != null">
      and  user_name = #{userName,jdbcType=VARCHAR}
      </if>
      <if test="userPassword != null">
      and  user_password = #{userPassword,jdbcType=VARCHAR}
      </if>
      <if test="userCode != null">
      and  user_code = #{userCode,jdbcType=VARCHAR}
      </if>
      <if test="userPhone != null">
      and  user_phone = #{userPhone,jdbcType=INTEGER}
      </if>
      <if test="userEmail != null">
      and  user_email = #{userEmail,jdbcType=VARCHAR}
      </if>
      <if test="userAdress != null">
      and  user_adress = #{userAdress,jdbcType=VARCHAR}
      </if>
      <if test="userSex != null">
      and  user_sex = #{userSex,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
      and  create_time = #{createTime,jdbcType=DATE}
      </if>
      <if test="remarks != null">
      and  remarks = #{remarks,jdbcType=VARCHAR}
      </if>
  </sql>
  
  <sql id="Base_Column_List">
    id, user_name, user_password, user_code, user_phone, user_email, user_adress, user_sex, 
    create_time,remarks
  </sql>
  
  <select id="selectByExample" parameterType="com.flight.china.bean.TbUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user
    <include refid="Example_Where_Clause" />
    order by create_time DESC
    <if test="startWith != null and rows != null">
       <include refid="Common.pagingEnd"/>  
    </if>
  </select>

	<select id="getAllUserMessage" parameterType="com.flight.china.bean.TbUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user
    <include refid="Example_Where_Clause" />
    order by create_time DESC
  </select>


  <select id="getCount" resultType="java.lang.Integer">
  	select count(*) from tb_user
  	<include refid="Example_Where_Clause" />
  </select>  
 	
 	<insert id="insertUser" parameterType="com.flight.china.bean.TbUser" useGeneratedKeys="true" keyProperty="id">
 	   insert tb_user (user_name,user_password,user_code,user_phone,user_email,user_adress,user_sex,create_time)
 	   values (
 	     #{userName,jdbcType=VARCHAR},
 	     #{userPassword,jdbcType=VARCHAR},
 	     #{userCode,jdbcType=VARCHAR},
 	     #{userPhone,jdbcType=VARCHAR},
 	     #{userEmail,jdbcType=VARCHAR},
 	     #{userAdress,jdbcType=VARCHAR},
 	     #{userSex,jdbcType=INTEGER},
 	     now()
 	   )
 	</insert>
 	
 	<delete id="deleteUser" >
 		delete from tb_user 
 		<include refid="Example_Where_Clause" />
 	</delete>
 	
 	
 	<update id="updateById" >
 		update tb_user
 		set user_name = #{userName,jdbcType=VARCHAR},
 		user_code = #{userCode,jdbcType=VARCHAR},
 		user_phone = #{userPhone,jdbcType=VARCHAR},
 		user_email = #{userEmail,jdbcType=VARCHAR},
 		user_adress = #{userAdress,jdbcType=VARCHAR},
 		user_sex = #{userSex,jdbcType=VARCHAR},
 		remarks = #{remarks,jdbcType=VARCHAR}
 		where id = #{id,jdbcType=INTEGER}
 	</update>
 	
 	<update id="updatePassword" >
 		update tb_user
 		set user_password = #{userPassword,jdbcType=VARCHAR}
 		where id = #{id,jdbcType=INTEGER}
 	</update>
 	
 	
 	<select id="getUserLike" parameterType="com.flight.china.bean.TbUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_user
    where user_code like  CONCAT(CONCAT('%', #{userCode}), '%')
     order by create_time DESC
    <if test="startWith != null and rows != null">
       <include refid="Common.pagingEnd"/>  
    </if>
 	</select>
 	
</mapper>